.feed{
   width: calc(100% - 200px);
   margin-left: 200px;

   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
   gap: 20px;

   padding: 30px;

   margin-bottom: 50px;
}

@media (max-width: 1200px) {
   .feed{
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
   }
}

@media (max-width: 768px) {
   .feed{
      width: 100%;
      margin-left: 0;
      grid-template-columns: 1fr;
      padding: 20px;
   }
}
