.profile {
  width: 1000px;
  margin: 40px auto;
  margin-left: calc(452px + 100px);
  margin-top: 120px;
}

.profileTop {
  display: flex;
  align-items: flex-start;
  gap: 80px;
  margin-bottom: 80px;
}

.profileBorder {
  width: 188px;
  height: 188px;

  padding: 4px;

  border-radius: 50%;

  background: linear-gradient(
    261.42deg,
    #405DE6 10.31%,
    #833AB4 26.6%,
    #C13584 51.95%,
    #E1306C 79.55%,
    #FD1D1D 97.2%
  );

  display: flex;
  align-items: center;
  justify-content: center;
}

.profileBorder img {
  width: 100%;
  height: 100%;

  border-radius: 50%;

  object-fit: cover;

  display: block;
}

.profileTop h2 {
  font-size: 45px;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 15px;
  font-family: 'Sarala';
}

.profileTop p {
  font-size: 28px;
  color: #A4A4A4;
  font-family: 'Sarala';
  font-weight: 400;
}

.stats {
  display: flex;
  gap: 60px;
  margin-top: 30px;
}

.stats span {
  font-size: 35px;
  color: #FFFFFF;
  font-weight: 700;
  font-family: 'Sarala';
}

.profilePosts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.profilePosts img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}