.storyBar{
   width: 700px;

   margin: 20px auto;

   background-color: rgb(255,255,255);

   border-radius: 10px;

   padding: 20px;

   display: flex;
   justify-content: space-around;
}

.story{
   text-align: center;
}

.story img{
   width: 70px;
   height: 70px;

   border-radius: 50%;

   border: 3px solid rgb(255,100,150);

   object-fit: cover;
}

.story p{
   margin-top: 5px;
   font-size: 12px;
}