.header {
  width: 100%;
  height: 80px;
  background-color: #100A2C;
  border-radius: 10px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header h1 {
  font-size: 28px;
  color: #A2A0AB;
  font-weight: 400;
  letter-spacing: 1px;
}

.header input {
  width: 500px;
  height: 45px;
  border: none;
  outline: none;
  background-color: #192648;
  backdrop-filter: blur(125px);
  color: #D7D7D7;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 20px;
}

.header input::placeholder {
  color: #D7D7D7;
}

.header-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 20px;
  transition: 0.3s;
}

.header-icon:hover {
  transform: scale(1.1);
}

.new-post-btn {
  padding: 10px 25px;
  background: linear-gradient(261.42deg, #405DE6 10.31%, #833AB4 26.6%, #C13584 51.95%, #E1306C 79.55%, #FD1D1D 97.2%);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-weight: 700;
  font-size: 25px;
  transition: 0.3s;
}

.new-post-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(225, 48, 108, 0.4);
}
