.post{
   width: 100%;

   margin-bottom: 28px;

   background-color: rgb(5,8,60);

   border-radius: 14px;

   overflow: hidden;

   break-inside: avoid;

   box-shadow: 0px 0px 15px rgba(0,0,0,0.25);

   transition: 0.3s;
}

.post:hover{
   transform: translateY(-4px);
}

.postTop{
   display: flex;
   align-items: center;
   gap: 10px;

   padding: 14px;

   color: white;
}

.postTop img{
   width: 36px;
   height: 36px;

   border-radius: 50%;
}

.postTop p{
   font-size: 13px;

   color: rgb(225,225,225);
}

.postImage{
   width: 100%;

   display: block;

   object-fit: cover;

   cursor: pointer;
}

.postContent{
   padding: 14px;

   color: white;
}

.postContent button{
   border: none;
   background: none;

   font-size: 28px;

   cursor: pointer;

   margin-right: 8px;
}

.postContent p{
   margin: 8px 0px;

   font-size: 14px;

   font-weight: bold;
}

.postContent span{
   font-size: 13px;

   color: rgb(220,220,220);
}