.post {
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: none;
}

.postTop {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 0;
}

.postTop img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.postImage {
  width: 100%;
  height: 500px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
  display: block;
}

.postContent {
  padding: 15px 0;
}

.postContent button {
  border: none;
  background: none;
  font-size: 28px;
  cursor: pointer;
  margin-right: 15px;
}

.postContent p {
  margin: 10px 0;
  font-weight: bold;
  color: #FFFFFF;
}

.postContent span {
  color: #ACACAC;
  font-size: 15px;
}
