*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

body{
   background-color: rgb(5,5,45);
   color: rgb(0, 0, 0);
   overflow-x: hidden;
}

.app{
   width: 100%;
   min-height: 100vh;

   background: linear-gradient(
      90deg,
      rgb(12,0,45),
      rgb(0,5,55)
   );
}